In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data2.xlsx')

In [3]:
en = pd.read_excel('en_use_sectoral2.xlsx')

In [4]:
em = pd.read_excel('emiss2.xlsx')

In [5]:
df = pd.merge_ordered(df, en)

In [6]:
df = pd.merge_ordered(df, em)

In [7]:
df.dropna(inplace=True, ignore_index = True)
df

,Country,Year,Emission,Energy use,Energy efficiency,Fossil fuels,Hydrogen and fuel cells,Nuclear,Other power and storage technologies,Renewables,En.use_Total Residential,En.use_Total freight transport,En.use_Total industry and services,En.use_Total passenger transport,Emiss_Total Residential,Emiss_Total freight transport,Emiss_Total industry and services,Emiss_Total passenger transport
0,Australia,2000,274.33,2545.70,0.000,0.000,0.000,0.000,0.000,0.000,353.25,363.69,1150.13,678.62,49.65,26.92,149.86,47.90
1,Australia,2001,281.47,2554.74,17.152,118.584,0.000,5.329,10.331,19.396,357.39,361.57,1154.54,681.23,50.17,26.76,156.36,48.17
2,Australia,2002,285.92,2553.62,0.000,0.000,0.000,0.000,0.000,0.000,348.17,375.78,1146.27,683.40,52.84,27.83,156.91,48.35
3,Australia,2003,289.42,2654.80,15.887,97.503,0.000,1.580,7.360,18.977,377.15,387.98,1185.50,704.17,53.68,28.70,157.37,49.66
4,Australia,2004,300.42,2722.53,55.633,61.956,0.343,35.143,11.036,44.505,359.87,401.36,1226.10,735.20,55.39,29.73,163.43,51.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,United States,2016,4241.08,54460.04,1868.364,597.518,121.460,1029.452,205.570,866.341,9001.20,6160.87,20523.24,18774.74,749.44,452.43,1727.27,1311.94
514,United States,2017,4196.40,54939.22,1974.924,576.251,119.254,1053.926,240.804,794.754,9142.17,6410.86,20413.82,18972.37,739.66,470.82,1660.08,1325.84
515,United States,2018,4266.79,56461.94,2464.632,678.637,132.597,1244.294,147.265,870.584,9604.73,6422.78,21306.36,19128.07,762.96,471.24,1695.28,1337.30
516,United States,2019,4222.79,57239.83,2549.316,666.958,135.924,1488.371,394.698,1051.688,9619.04,6842.54,21544.69,19233.56,729.98,501.51,1646.84,1344.46
517,United States,2020,3615.86,50234.83,2783.658,670.056,181.172,1598.394,474.293,1080.309,9572.85,6096.85,20168.39,14396.74,693.30,446.64,1471.83,1004.10

In [9]:
df.to_excel('data3.xlsx', index=False)